.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 500;
    font-size: 1.2rem;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoutBtn{
    padding: 5px;
    border: none;
    background-color: #53c286;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}